.product-component-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 23rem;
  height: 12rem;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .product-image-wrapper img {
    border-radius: 2rem;
    max-width: 10rem;
    box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.3);
  }

  .product-title {
    font-family: "Against", sans-serif;
    font-size: 1.2rem;
    user-select: none;
  }

  .product-infos {
    user-select: none;
    font-size: 1rem;
  }
}
