.product-welcome {
  user-select: none;
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  position: relative;
  color: navy;

  h1 {
    font-family: "Against", sans-serif;
    font-size: 1.6rem;
  }
}
