.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .routes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .navlinks {
    background-color: white;
    width: 10rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    color: navy;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s,
      border-color 0.3s;
  }
  .navlinks:hover,
  .active {
    color: navy;
    background-color: rgba(80, 159, 255, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
}
